@media (max-width: 576px) {
    header{
        background-image: linear-gradient(45deg, #ffffff 0%, #ffffff 100%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

    }
    .header-right .hocphi{
        display:flex;
    }
    .header-left a{
        color:black;
    }
    .header-right > b{

        display: none;
    }
.header-right .MNdthoai{    
    display:flex;
}
.traibody{
    position:fixed;
    z-index: 2000;
    top:100px;
    background-color: aqua;
    height: 100%;
    transform: translateX(-100%);
    transition: 1s;
}
.hienMNhd{
    transform: translateX(0);
    box-shadow: 50vw 0px 0px rgba(0, 0, 0, 0.5);

}

}
@media (min-width: 577px ) and (max-width: 992px) {
    .traibody{
        width: 100%;
    }
}