body {
    background-color: #ffffff;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-image: linear-gradient(45deg, #3452ff 0%, #ff1053 100%);
    color: #ffffff;
    padding: 10px 20px;
    display: flex;

    align-items: center;
}
.header img {
    height: 100px;
    width: 100px;
}
.main-content {
    padding: 20px;
}
.welcome {
    font-size: 25px;
    margin-bottom: 20px;
    color:black ;
}
.main-content h1{
    color: rgb(182, 67, 67);
    border-bottom: 2px solid rgb(182, 67, 67);
    padding-bottom: 12px;
    text-transform: uppercase;
    font-size: 24px;
}
.main-content p{
    padding-left: 16px;
}
#loai-tuyen {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}
.main-content .sdt input,.main-content .nhap_anh{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}
.sdt button{
    align-items: center;
}
.form-group{
    margin-top: 16px;
    padding-left: 16px;
}
.form-group button{
    height: 30px;
    width: 150px;
    background-color: #33CCFF;
    border-radius: 6px;
}
.form-group button:hover{
    color: #000;
    background-color: #00bfff;
}
table {
    width: 100%;
    color:black ;
    margin-top: 10px;

}
table th, table td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: left;
    border-radius: 5px;

}
table th {
    background-color: #33CCFF;
}
table td {
    background-color: #00FFFF;
}
.hidden{
    display: none;
}
.luu-y{
    border:1px solid #8adbf6;
    background-color: #d9edf7;
    border-radius: 4px;
    color: #31708f;
    padding: 5px;
    margin-bottom: 20px;
}
footer{
    margin-top: 20px 0;
    text-align: center;
}
