body {
    background-color: #ffffff;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
   background-image: linear-gradient(45deg, #3452ff 0%, #ff1053 100%);
    color: #ffffff;
    padding: 10px 20px;
    display: flex;

    align-items: center;
}
.header img {
    height: 100px;
    width: 100px;


}

.main-content {
    padding: 20px;

}
.welcome {
    font-size: 25px;
    margin-bottom: 20px;
    color:red ;
}
.section-title {
    font-size: 24px;
    color: #ff005e;
    margin: 10px 0;
    border-bottom: 2px solid #ff005e;
    text-transform: uppercase;
    padding-bottom: 5px;
    text-align: center;
    justify-content: center;
    flex-direction: column;

   
} 
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group select, .form-group button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}
.form-group button {
    background-color: #33CCFF;
    color: #ffffff;
    border-radius: 10px ;
    cursor: pointer;
    border: 5px;
}
.table-container {
    margin-top: 20px;
}
table {
    width: 100%;
    color:black ;
    margin-top: 10px;

}
table th, table td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: left;
    border-radius: 5px;

}
table th {
    background-color: #33CCFF;
    /* border: 2px solid #ddd; */
}
table td {
    background-color: #ffffff;
    border: 2px solid #ddd;
}
.notification {
    position: relative;
    display: inline-block;
}
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}
.h1{
    color: #ff1053;
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid #ff005e;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.luu-y{
    border:1px solid #8adbf6;
    background-color: #d9edf7;
    border-radius: 4px;
    color: #31708f;
    padding: 5px;
    margin-bottom: 20px;
    margin: 10px;
}
.footer{
    margin: 50px 0;
    text-align: center;
    color: black;
}
@media (max-width: 768px) {
    .header {
    
       width: 100%;
        text-align: center;
        font-size: larger;
    }
    .header2 {
        padding: 20px;
    }
    .header img {
        margin-bottom: 10px;
    }

    .header2 h1 {
        font-size: 1em;
    }

    .header2 h2 {
        font-size: 0.8em;
    }

    .main-content {

        width: 100%;
    }
    .welcome {
        font-size: 18px;
    }
    .section-title {
        font-size: 18px;
        width: 100%;
    }
    .form-group select, .form-group button {
        padding: 8px;
    }
    table {
        font-size: 14px;
    }
    table th, table td {
        padding: 8px;
    }
    .h1{
        color: #ff1053;
        font-size: 24px;
        text-align: center;
        border-bottom: 2px solid #ff005e;
        margin-bottom: 20px;
        margin-left: 41px;

    }
    .luu-y{
        border:1px solid #8adbf6;
        background-color: #d9edf7;
        border-radius: 4px;
        color: #31708f;
        padding: 5px;
        margin: 20px;
        width: 97%;

    }
    .footer{
        margin: 50px 0;
        text-align: center;
        color: black;
        font-size: 0.8em;
        padding-left: 30px;
    }
}
