@media (max-width: 576px) {
    .hang1{
        padding: 0;
        margin:10px 0;
    }
    .hang1 img{
        width: 40px;
        height: 40px;
    }

    .hang2>p{
        display: none;
    }
    .hang2{
        margin: 0;
    }
    .bangtrai{
        width: 90%;
    }
    .person1{
        width: 90%;
    }
    .sodienthoai input {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .sodienthoai{
        width: 80%;
    }
}